<div class="row fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <br>

                <table class="table table-hover">
                    <thead>
                        <h4>Listado de médicos inhabilitados</h4>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Correo electrónico</th>
                            <th>Servicio Unidad</th>
                            <th>Número de colegiado</th>
                            <th>Centro hospitalario</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let medico of medicos">
                            <td>{{medico.nombre}}</td>
                            <td>{{medico.apellidos}}</td>
                            <td>{{medico.correo}}</td>
                            <td>{{medico.servicio_unidad}}</td>
                            <td>{{medico.num_colegiado}}</td>
                            <td>{{medico.centro}}</td>

                            <td>
                                <button type="button" (click)="habilitarMedico(medico)" class="btn btn-success waves-effect waves-light m-r-10">
                                    <i class="fa fa-check"> </i> Habilitar
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>