<div class="row fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <br>

                <table class="table table-hover">
                    <thead>
                        <h4>Listado de pacientes inhabilitados</h4>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let paciente of pacientes">
                            <td>{{paciente.nombre}}</td>
                            <td>{{paciente.apellidos}}</td>
                            <td>
                                <button type="button" (click)="habilitarPaciente(paciente)" class="btn btn-success waves-effect waves-light m-r-10">
                                    <i class="fa fa-check"> </i> Habilitar
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>