<aside class="left-sidebar">

    <div class="scroll-sidebar">

        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                
                <li class="nav-small-cap"></li>
                <li class="nav-devider"></li>

                <li *ngFor = "let menu of _sidebar.menu"> 
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><span class="hide-menu"> {{ menu.titulo}} </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li class="nav-devider"></li>
                        <li *ngFor= "let submenu of menu.submenu">
                            
                            <a routerLinkActive="active" [routerLink]="submenu.url" >  {{ submenu.titulo }} </a>
                        </li>
                        <li class="nav-devider"></li>

                    </ul>
                </li>
                
            </ul>
        </nav>

    </div>

</aside>

