<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Seleccione un hospital</h4>

                <select [(ngModel)]="hospitalSeleccionado" (change)="cargarMedicosPorHospital()" class="form-control">
                    <option *ngFor="let hospital of hospitales" [ngValue]="hospital">
                         {{ hospital.nombre }}
                    </option>
                </select> 
            </div>
        </div>
    </div>
</div>

<div class="row fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <div class="text-right" *ngIf="rol==='ADMIN'">
                    <i [routerLink]="['/medicos-inhabilitados']" class="pointer underline">Médicos Inhabilitados</i>
                </div>

                <div class="text-left">
                    <button type="button" (click)="activarFormulario2()" class="btn waves-effect waves-light m-r-10 ">
                        <i [hidden]="controlList" class="fa fa-sort-down"></i>
                        <i [hidden]="!controlList" class="fa fa-sort-up"></i>
                    </button>
                </div>
                
                <div class="text-right" *ngIf="rol==='ADMIN'">
                    <button type="button" (click)="activarFormulario()" class="btn waves-effect waves-light m-r-10 btn-success">
                        <i class="fa fa-plus"></i> Nuevo médico 
                    </button>
                </div>
                
                <br>
                <h4 class="card-title">Médicos asociados</h4>

                <table class="table table-hover" [hidden]="controlList">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let medico of medicos" [routerLink]="['/medicos', medico.id]" class="pointer">
                            <td>{{medico.nombre}}</td>
                            <td>{{medico.apellidos}}</td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>


<div class="row" [hidden]="!control">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4>Datos del nuevo médico</h4>

                <form [formGroup]="formulario" (ngSubmit)="crearMedico( formulario.value )"  class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre</label>
                        <div class="input-group">
                            <input formControlName="nombre" name="nombre" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Apellidos</label>
                        <div class="input-group">
                            <input formControlName="apellidos" name="apellidos" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Correo electrónico</label>
                        <div class="input-group">
                            <input formControlName="correo" name="correo" type="email" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Contraseña</label>
                        <div class="input-group">
                            <input formControlName="password" name="password" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Sexo</label>
                        <div class="input-group">
                            <select formControlName="sexo" name="sexo" type="text" class="form-control" required>
                                <option> Masculino </option>
                                <option> Femenino </option>
                                <option> Indefinido </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Teléfono</label>
                        <div class="input-group">
                            <input formControlName="telefono" name="telefono" type="number" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Servicio Unidad</label>
                        <div class="input-group">
                            <input formControlName="servicio_unidad" name="servicio_unidad" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Nº de colegiado</label>
                        <div class="input-group">
                            <input formControlName="num_colegiado" name="num_colegiado" type="number" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Centro hospitalario</label>
                        <div class="input-group">
                            <input formControlName="centro" name="centro" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Permisos</label>
                        <div class="input-group">
                            <select formControlName="rol" name="rol" type="text" class="form-control" required>
                                <option> ADMIN </option>
                                <option> COLABORADOR </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputuname">Hospital/es donde trabaja</label>
                        <div class="input-group">
                            <select formControlName="hospitales" multiple name="hospitales" class="form-control">
                                <option *ngFor="let hospital of hospitales" [ngValue]="hospital">
                                     {{ hospital.nombre }}
                                </option>
                            </select>
                        </div>
                         
                    </div>




                    <div class="text-right">
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"> Crear médico </button>
                    </div>

                </form>
                

            </div>
        </div>
    </div>
</div>