<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
           
            </a>
        </div>
        
        <div class="navbar-collapse">
            
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item hidden-sm-down"></li>
            </ul>
            
            <ul class="navbar-nav my-lg-0">
                
                <!-- Perfil -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/icon/user-icon.png" alt="user" class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img src="assets/images/icon/user-icon.png" alt="user"></div>
                                    <div class="u-text">
                                        <h4>{{ nombre }}</h4>
                                        <p class="text-muted">{{ correo }}</p>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a routerLink="/profile"> Perfil </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a (click)="_loginService.logout()"><i class="fa fa-power-off"></i> Cerrar sesión </a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
