<div class="row">

    <div class="col-9">
        <div class="card">
            <div class="card-body">
                    
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Fecha de revisión</th>
                            <th>Motivo</th>
                            <th>Observaciones</th>
                            <th>Coste total</th>
                            <th>Coste acumulado</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>{{revision.fecha_revision | date:'yyyy/MM/dd'}}</td>
                            <td>{{revision.motivo}}</td>
                            <td>{{revision.observ}}</td>
                            <td>{{revision.coste_total}}</td>
                            <td>{{revision.coste_acum}}</td>
                            <td>
                                <button *ngIf="rol == 'ADMIN'" class="btn btn-info m-r-10" (click)="activarFormulario()">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <!-- <button class="btn btn-danger m-r-10" (click)="eliminarRevision(revision)">
                                    <i class="fa fa-times"></i>
                                </button> -->
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <ul class="nav navbar-nav">
                    <li class="divider"></li>
                    <br>
                    <li><a [routerLink]="['escaneres']">Escáneres</a></li>
                    <br>
                    <li><a [routerLink]="['mediciones']">Mediciones</a></li>
                    <br>
                    <li class="divider"></li>

                </ul>
            </div>
        </div>
    </div>
</div>

                       
<div class="row" [hidden]=!control2>
    <div class="col-9" >
        <div class="card">
            <div class="card-body">
                <h4> Editar revisión</h4>

                <form ngNativeValidate #f="ngForm" (ngSubmit)="editarRevision( f.value )" class="form p-t-20">

                    <div class="form-group">
                        <label>Motivo</label>
                        <div class="input-group">
                            <textarea [ngModel]="revision.motivo" name="motivo" cols="40" rows="5" type="text" class="form-control" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Observaciones</label>
                        <div class="input-group">
                            <textarea [ngModel]="revision.observ" name="observ" cols="40" rows="5" type="text" class="form-control" required></textarea>
                        </div>
                    </div>
                
                    <div class="text-right">
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"> Guardar </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>